h1 {
    color: 009900;
	font: Impact;
}
h2 {
    color:66FF33;
}
h3 {
    color:6600AA;
}
h4 {
    color:667700;
}
h5 {
    color:33FF44;
}
h6 {
    color:339900;
}
p {
    color: green;
}
div {
    color: 99FF11
}
span{
    color: 99FF77
}	